<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/airbnb/"><i class="social fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/airbnb/"><i class="social fa-brands fa-square-instagram"></i></a>
            <a href="https://x.com/airbnb/"><i class="social fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div class="f-info-brand"> &copy;AirBNB Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>