<% layout("/layouts/boilerplate.ejs") %>
<body class="root-body">
    <br><br><br>
        <h1 class="root-h1">Welcome to AirBNB</h1><br><br><br>
         <h2 class="root-h2 fa-fade"><a href="/listings">Your Next Home</a></h2>
</body>