<% layout("/layouts/boilerplate.ejs") %>
    <div class="col-8 offset-2">
        <br>
        <h2>Terms & Conditions</h2>
        <p>
            <br>
            <b>Effective Date: March 3, 2025</b>
            <br><br>
            By using AirBNB, you agree to comply with these Terms & Conditions.
            <br><br>
            <b>1.</b> Use of Our Platform
            To use AirBNB, you must be at least 18 years old. Users are responsible for providing accurate account information. Property listings must comply with local regulations and laws.
            <br><br>
            <b>2.</b> Bookings & Cancellations
            All users must adhere to the cancellation policies set by each host. Refunds, if applicable, will be processed in accordance with AirBNB’s refund policy.
            <br><br>
            <b>3.</b> User Conduct
            Users must respect property owners and follow house rules during their stay. Any fraudulent activity, misrepresentation, or violation of these terms may result in account suspension or termination.
            <br><br>
            <b>4.</b> Liability Disclaimer
            AirBNB is a platform that connects guests with hosts. We do not own or manage the properties listed on our platform and are not responsible for any issues that arise between guests and hosts.
            <br><br>
            <b>5.</b> Modifications to Terms
            AirBNB reserves the right to update these terms at any time. Continued use of our platform after modifications means you accept the updated terms.
            <br><br>
            If you have any questions regarding these terms, please contact us at: <a href="">info@airbnb.help.com</a>
        </p>
    </div>