body {
    background-color: rgb(220, 220, 220);
    font-family: "Plus Jakarta Sans", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url(https://res.cloudinary.com/da4dvgpcx/image/upload/v1741296243/AirBNB-Background_Vertical_jmce9f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(236, 236, 236, 0.999);

    opacity: 0;
    animation: fadeIn 1s forwards;  
    transition: opacity 1s ease-in-out;
}

.root-body {
    background-image: url(https://res.cloudinary.com/da4dvgpcx/image/upload/v1741296243/AirBNB-Background_Vertical_jmce9f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(236, 236, 236, 0.936);

    position: relative;
    overflow: hidden;

    opacity: 0;
    animation: fadeIn 1s forwards;  
    transition: opacity 1s ease-in-out;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* When page loads, fade in */
body > *.fade-in {
    opacity: 1;
}

/* When navigating away, fade out */
body > *.fade-out {
    opacity: 0;
}



.root-h1, .root-h2 {
    margin-left: 14.5vw;

    position: relative;
    z-index: 1;
}

@media (max-width: 1292px) {
    .root-h1, .root-h2 {
        margin-left: 10vw;
    }
}
@media (max-width: 1080px) {
    .root-h1, .root-h2 {
        margin-left: 6vw;
    }
}
@media (max-width: 767px) {
    .root-h1 {
        margin-top: 44px;
    }
}
@media (max-width: 632px) {
    .root-h1, .root-h2 {
        margin-left: 3vw;
    }
}


a {
    text-decoration: none;
    color: rgb(80, 40, 40);
}

.l-s {
    display: flex;
    justify-content: center;
}

.l-s a {
    text-decoration: none;
    color: rgb(255, 61, 92);
}

.l-s a:hover {
    text-decoration: underline;
    color: rgb(80, 40, 40);
}

.b-user {
    color: rgb(255, 61, 92);
}

.container {
    flex: 1;
    margin-left: 18rem;
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text {
    min-width: 250px;
    width: 25vw;
    field-sizing: content;
}

h1, h2, h3, .navbar-brand {
    color: rgb(255, 61, 92);
    transition: 0.2s;
}

h4, h5 {
    color: rgb(80, 40, 40);
}

.root-h2 {
    color: rgb(80, 40, 40);
}


.navbar {
    min-height: 90px;
    background-color: whitesmoke;
}

.navbar-brand {
    margin-left: 15px;
    margin-right: 10px
}

.navbarUser {
    padding-left: 100px;
}

.navbar-collapse {
    padding-left: 20px;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(7px); /* Adds a blur effect */
}
@media (max-width: 991px) { /* Applies only when navbar is collapsed */
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1050; /* Ensure it's above other elements */
    }
  }


@media (max-width: 575px) {
    .edit {
        width: 93%;
    }
}
  
.navlog {
    padding-left: 30px;
}
.all-bnbs {
    padding-left: 0;
}

.nav-link:hover {
    color: rgb(255, 61, 92);
    transform: scale(1.02);
}
.hello-user {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
@media (min-width: 992px) {
    .hello-user {
        padding-right: 0.2rem;
    }
}

.nav-link {
    color: rgb(85, 85, 85);
    transition: 0.12s;
}

.navl:hover {
    color: rgb(85, 85, 85);
    transform: none;
}

.navl {
    color: rgb(85, 85, 85);
    transition: none;
}

.navbar-nav {
    margin-right: 10px;
}


.nav-item {
    margin-right: 0.24vh;
}


/* Footer */

nav, footer {
    width: 100%;
    max-width: 100%;
}
.navbar-toggler {
    margin: 0 15px 6px 0;
}
.container-fluid {
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0;
    padding: 0;
    flex: 1; /* Pushes footer to the bottom */
    width: calc(100% - 16-px) !important; /* Adjust according to margin-left */
    max-width: 100% !important;
}

footer {
    margin-top: auto;
    position: relative;
}

.f-info-links a {
    text-decoration: none;
    color: rgb(80, 40, 40);
}

.f-info-links a:hover {
    text-decoration: underline;
    color: rgb(255, 61, 92);
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-links a {
    margin: 1.1rem;
}

.f-info-socials i {
    font-size: 1.5 rem;
    margin: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    margin-top: 2rem;
}


/* Cards */
.card {
    border: none !important;
    min-width: 300px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.card-img-top {
    border-radius: 30px !important;
    width: 100% !important;
    object-fit: cover !important;
    padding: 1.2rem;
    transition: 0.4s;
}

.card_text {
    transition: 0.4s;
}

.card-body {
    padding: 0 !important;
    margin: 1.2rem;
    width: 100%;
}
@media (max-width: 575px) {
    .card-body {
        width: 85%;
    }
}
@media (max-width: 575px) {
    .comment {
        width: 90%;
    }
}
@media (max-width: 575px) {
    .review-body {
        width: 85% !important;
    }
}

.review {
    padding-left: 1.2rem;
}
.review-body {
    width: 95%;
}

.card_text p {
    font-weight: 400;
}



/* Card Effects */

.listings {
    padding-left: 0.1vw;
}
.card:hover .card-img-top {
    opacity: 0.6;
    transform: scale(1.08);
}
.card:hover .card_text {
    position: relative;
    scale: 1.06;
}

.search-input {
    padding-left: 4px;
    padding-right: 4px;
    min-width: 120px;
    width: clamp(80px, 16vw, 600px);
}


.search-btn {
    background-color: rgb(255, 61, 92);
    border: none;
    transition: 0.2s;
}
.search-btn:focus, .search-btn:active {
    background-color: #dc35467e !important; /* Change to your preferred color */
    border-color: #dc35467e !important;
    box-shadow: none !important;
}
.search-btn:hover {
    background-color: rgb(255, 61, 92);
    opacity: 0.8;
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.search-btn i {
    font-size: 1rem;
    transition: 0.2s;
}
.search-btn:hover i {
    font-size: 1.2rem;
}
.btn-prop {
    background-color: rgb(255, 61, 92);
    border: none;
}

.reset-btn {
    font-size: small;
    margin-right: 1vh;
    padding-left: 4px;
    padding-right: 4px;
}

.d-md-flex {
    margin-left: 14vw;
    margin-right: 0.25vh;
}
@media (max-width: 1339px) {
    .d-md-flex {
        margin-left: 5vw;
    }
}
@media (max-width: 1178px) {
    .d-md-flex {
        margin-left: 4vw;
    }
}
@media (max-width: 1163px) {
    .d-md-flex {
        margin-left: 1.5vw;
    }
}
@media (max-width: 1133px) {
    .d-md-flex {
        margin-left: 0.8vw;
    }
}
@media (max-width: 1091px) {
    .d-md-flex {
        margin-left: 0vw;
    }
}
@media (max-width: 1080px) {
    .d-md-flex {
        margin-left: -1.1vw;
    }
    .search-input {
        width: 7vw;
    }
}
@media (max-width: 996px) {
    .d-md-flex {
        margin-left: -0.5vw;
    }
    .search-input {
        width: 6vw;
    }
    .heading {
        font-size: 4vw;
    }
}
@media (max-width: 767px) {
    .d-md-flex {
        margin-left: 6vw;
    }
    .heading {
        font-size: 6vw;
    }
}
@media (max-width: 600px) {
    .heading {
        font-size: 8vw;
    }
}


.del-btn {
    border: none;
}

.show-img {
    height: 30vw;
    margin-bottom: 0;
}
@media (max-width: 991px) {
    .show-img {
        height: 40vw;
    }
}
@media (max-width: 767px) {
    .show-img {
        height: 50vw;
    }
}
@media (max-width: 575px) {
    .show-img {
        height: 80vw;
        width: 95vw !important;
    }
}


.show-card {
    width: 100%;
}

.listing-cards {
    background: rgba(245, 245, 245, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(8px); /* Blur effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
}

.card-blur {
    margin-top: 1.2rem;
    position: relative;
    border: 0.4px solid rgba(128, 128, 128, 0.4);
    border-radius: 10px;
    padding: 0 12px 24px 12px;
    background: rgba(245, 245, 245, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(8px); /* Blur effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
}
@media (max-width: 575px) {
    .review-shift {
        transform: translateX(20px);
    }
    .card-blur {
        transform: translateX(-15px);
    }
    .card-blur-review {
        transform: translateX(-4px);
    }
}

.listing-details {
    margin: 0;
    padding: 0 1.2rem;
}

.show-col {
    margin-top: 40px;
}

@media (max-width: 767px) {
    .show-col {
        margin-top: 10px;
    }
}
@media (max-width: 575px) {
    .show-col {
        margin-left: 3vw;
    }
}

.btns-class {
    display: flex;
    padding-left: 0.6rem;
}

.btn-r {
    padding-left: 18px;
}

#togglePassword:hover {
    background-color: rgb(255, 61, 92);
}

/* Map */

#map {
    height: 30vw;
    width: 100%;
    border-radius: 10px;
}
@media (max-width: 991px) {
    #map {
        height: 40vw;
    }
}
@media (max-width: 767px) {
    #map {
        height: 50vw;
    }
}
@media (max-width: 575px) {
    #map {
        height: 80vw;
        width: 95vw !important;
    }
}

/* Filters */

#filters {
    display: flex;
    flex-wrap: wrap;
}
.filter {
    text-align: center;
    margin-left: 4vw;
    opacity: 0.5;
    transition: 0.4s;
    font-size: 1.06vw;
}
@media (max-width: 1440px) {
    .filter {
        margin-left: 3.4vw;
    }
    .category-name {
        font-size: 1.12vw;
    }
}
@media (max-width: 1155px) {
    .filter {
        margin-left: 3vw;
    }
    .category-name {
        font-size: 1.18vw;
    }
}
@media (max-width: 960px) {
    .filter {
        margin-left: 2.6vw;
    }
    .root-h1, .root-h2 {
        font-size: 30px;
    }
    .form-check-label {
        font-size: 1.5vw;
    }
    .category-name {
        font-size: 1.22vw;
    }
}
@media (max-width: 888px) {
    .filter {
        margin-left: 2.2vw;
    }
    .form-check-label {
        font-size: 1.4vw;
    }
    .category-name {
        font-size: 1.32vw;
    }
}
@media (max-width: 767px) {
    .filter {
        margin-left: 8vw;
    }
    .root-body {
        background-position-x: -55vw;
    }
    .form-check-label {
        font-size: 1.5vw;
    }
    .category-name {
        font-size: 1.7vw;
    }
}
@media (max-width: 680px) {
    .root-body {
        background-position-x: -60vw;
    }
    .form-check-label {
        font-size: 1.6vw;
    }
    .category-name {
        font-size: 1.8vw;
    }
}
@media (max-width: 650px) {
    .root-body {
        background-position-x: -65vw;
    }
    .form-check-label {
        font-size: 1.55vw;
    }
    .category-name {
        font-size: 1.9vw;
    }
}
@media (max-width: 630px) {
    .filter {
        margin-left: 7vw;
    }
    .root-body {
        background-position-x: -72vw;
    }
    .category-name {
        font-size: 1.93vw;
    }
}
@media (max-width: 605px) {
    .filter {
        margin-left: 7vw;
    }
    .root-body {
        background-position-x: -75vw;
    }
}
@media (max-width: 592px) {
    .root-body {
        background-position-x: -77vw;
    }
    .category-name {
        font-size: 1.96vw;
    }
}
@media (max-width: 588px) {
    .filter {
        margin-left: 6.3vw;
    }
    .root-body, body {
        background-position-x: -2vw;
    }
    .root-h1, .root-h2 {
        display: flex;
        justify-content: center;
    }
    .root-h1 {
        margin-top: 110px;
        margin-right: 5vw;
    }
    .root-h2 {
        margin-right: 12vw;
    }
    .form-check-label {
        font-size: 1.77vw;
    }
    .category-name {
        font-size: 2.2vw;
    }
}
@media (max-width: 575px) {
    .filter {
        margin-left: 5.5vw;
    }
    .form-check-label {
        font-size: 1.7vw;
    }
    .category-name {
        font-size: 2.4vw;
    }
}
@media (max-width: 550px) {
    .airbnb-logo {
        width: 40px;
        overflow: hidden;
        display: inline-block;
        margin-right: 10px;
    }
}
@media (max-width: 541px) {
    .filter {
        margin-left: 4.8vw;
    }
    .form-check-label {
        font-size: 1.66vw;
    }
    .category-name {
        font-size: 2.55vw;
    }
}
@media (max-width: 483px) {
    .filter {
        margin-left: 3.6vw;
    }
    .form-check-label {
        font-size: 1.8vw;
    }
    .category-name {
        font-size: 2.8vw;
    }
    .all-bnbs {
        display: none;
    }
}
@media (max-width: 414px) {
    .filter {
        margin-left: 2.2vw;
    }
    .form-check-label {
        font-size: 2.2vw;
    }
    .category-name {
        font-size: 3.06vw;
    }
}


.filter:hover {
    opacity: 1;
    cursor: pointer;
}
.active-filter {
    opacity: 1;
    transform: scale(1.28);
}
.no-filter {
    margin-top: 4.6rem;
    margin-left: 40vw;
}
@media (max-width: 1199px) {
    .no-filter {
        margin-left: 34vw;
    }
}
@media (max-width: 991px) {
    .no-filter {
        margin-left: 24vw;
    }
}

.d-tax {
    margin-bottom: 1rem;
    margin-left: 3vw;
    padding-right: 2vw;
}

#flexSwitchCheckDefault {
    padding-right: 10px;
}
.form-check-label {
    margin-left: 0.1rem;
}
.form-check-label:hover {
    cursor: pointer;
}

.form-check-input:hover {
    cursor: pointer;
}
.tax-info {
    display: none;
}
.all-filters {
    display: flex;
    align-items: center;
    position: sticky;
    top: 90px;
    z-index: 1;
    background: rgba(245, 245, 245, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(8px); /* Blur effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    padding-top: 1.2rem;
    padding-bottom: 0.4rem;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}
.blur-background {
    display: flex;
    align-items: center;
    position: sticky;
    top: 80px;
    z-index: -1;
    padding-top: 1.2rem;
    padding-bottom: 0.4rem;
    padding-left: 40px;
    padding-right: 20px;
}

.fa-solid, .fa-brands {
    font-size: 1.5rem;
}


.social {
    transition: 0.2s;
}
.social:hover {
    color: rgb(255, 61, 92);
}



  .fullscreen-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.63);
    display: flex; align-items: center; justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .fullscreen-img {
    max-width: 100vw;  
    max-height: 100vh;
    width: 100%; /* Ensures it scales properly */
    height: 100%;
    object-fit: contain; /* Ensures the image fits without distortion */
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
  }

  /* Fade-Zoom In Animation */
  .fade-in {
    animation: fadeZoomIn 0.3s ease-in-out forwards;
  }

  @keyframes fadeZoomIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Fade-Zoom Out Animation */
  .fade-out {
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out;
  }


  .navNavBar {
    padding-right: 12px;
  }
  @media (max-width: 991px) { /* Apply only when navbar is collapsed */
    .navNavBar {
      text-align: right; /* Align text inside */
      width: 100%; /* Ensure it takes full width */
    }
  }
  